/*
.layout-lane:hover {
    box-shadow: 0 0 6px rgba(0,0,0,.15);
    position: relative;
    z-index: 10;
    background: #fff;
}
*/

.layout-lane {
    border: 1px solid #eee;
    border-radius: 5px;
    background: #fff;
    padding: 5px 5px;
    
}