.chat-sender-bubble {
    padding: 0 16px 5px;
    float: left;
}

.chat-sender-avatar {
    float: left;
    width: 50px;
}
.chat-window-avatar {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.chat-bubble-content {
    cursor: pointer;
    float: left;
    margin-left: 11px;
    background: #fff;
    border: 1px solid #e5e5e5;
    position: relative;
    max-width: 392px;
    padding: 11px 16px;
    margin-top: 1px;
    border-radius: 5px;
    clear: right;
}
.chat-bubble-arrow {
    left: -11px;
    position: absolute;
    top: 10px;
}

.chat-bubble-arrow i {
    display: inline-block;
    border-top-color: #fff;
    color: #fff;
    width: 0;
    height: 0;
    margin-left: 3px;
    border-width: 4px;
    border-style: solid;
    border-bottom-color: transparent;
    border-left-color: transparent
}