.task-card-container {
    position: relative;
}

.task-card {
    width: 99%;
    margin: 5px auto;
    cursor: move;
    min-width: 300px;
    position: relative;
    //background-color: rgb(250,250,250);
    background-color: #fff;
}
.task-card:hover {
    background-color: #eaf8fe;
    //box-shadow: 0 0 2px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    box-shadow: 0 0 2px rgba(0, 0, 0, .14) 0 4px 8px rgba(0, 0, 0, .28);
}
.task-card-dragging {
    opacity: 0
}

.ant-card {
    border-radius: 3px;
}
.task-card .ant-card-body {
    border-left: 5px solid;
    border-radius: 3px;
    border-top-left-radius: 0; 
}
.task-card.task-green-left-boarder .ant-card-body {
    border-left-color: green;
}
.task-card.task-red-left-boarder .ant-card-body {
    border-left-color: red;
}
.task-card.task-yellow-left-boarder .ant-card-body {
    border-left-color: #fa0;
}
/*
.task-card .ant-card-head {
    background: #fff;
}
*/

.task-card .ant-card-head {
    border-radius: 3px;
}

.asignee-avator {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-top: -10px;
    margin-right: -18px;
}

.task-more-action {
    float: left;
    background-color: rgba(255, 0, 0, 0);
    margin-top: -2px;
    padding-right: 10px;
    width: 40%;
}
.task-more-action-btn {
    margin-right: 10px;
}

.task-more-action-btn .ant-btn-circle.ant-btn-lg {
    height: 40px;
    width: 40px;
    font-size: 25px;
}

.task-card-content {
    margin-top:5%;
    margin-left: -65%;
    transition:margin-left 0.5s;
    height: 100%;
    width: 150%;
}

.task-card-content:hover {
    margin-left: 0;
}
.task-card-summary {
    margin-top: -15px;
}

.task-age-tag {
    position: absolute;
    right: 0px;
    bottom: 3px;    
}

.task-age-tag .ant-tag{
    color: #fff;
}

.task-age-tag.yound-age .ant-tag {
    background-color: #87D068
}

.task-age-tag.old-age .ant-tag {
    background-color: #F50;
}

.task-age-tag.perm-age .ant-tag {
    background-color: #AD0101;
}

.task-type-tag {
    position: absolute;
    left: 20px;
    //top: 28%;
    top: 36px;
    border: 0;
    background-color: rgb(250,250,250)
}
