.chat-input-pannel {
    width: 100%;
    height: 180px;
    border-top-width: 1px;
    border-top-style: solid;
    border-radius: 0 5px 5px 0;
    background: #eee;
    border-color: #ddd;
}
.chat-input-area {
    width: 100%;
    height: 80px;
    padding: 7px 20px 15px;
    margin-top: 5px;
    border: 0;
    line-height: 23px;
    outline: 0;
    background: 0 0;
    color: #333;
    
}