.add-task-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.add-task-button .ant-btn-lg {
    height: 56px;
    width: 56px;
    font-weight: bold;
    font-size: 19px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    //background-color: #d23f31;
    border: #d23f31;
}