.layout-aside .layout-main {
    margin-left: 224px;
    transition: all 0.3s ease;
    overflow: auto;
}
.layout-aside-collapse .layout-main {
    margin-left: 64px;
    transition: all 0.3s ease;
    overflow: auto;
}

.layout-aside .layout-content {
    background: rgb(246,246,246);
    padding: 24px 24px 10px 24px;
    border-radius: 3px;
    //min-height: 665px;
    overflow: auto;
    height: 90%;
}

